[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
protobuf = "*"

[dev-packages]
grpcio-tools = {version = "*", index = "https://mirrors.ustc.edu.cn/pypi/web/simple"}
tox = "*"
pytest = "*"

[requires]
python_version = "3.6"
